<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9eb38185-7e14-457d-bd8c-b57cbf5c042a/resourceGroups/purchase-request-server/providers/Microsoft.Web/sites/purchase-request-server</ResourceId>
    <ResourceGroup>purchase-request-server</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://purchase-request-server.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>purchase-request-server.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>purchase-request-server</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$purchase-request-server</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PrsDb" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:purchase-request-db.database.windows.net,1433;Initial Catalog=Prs;User ID=PrsAdmin@purchase-request-db.database.windows.net;Password=Il0v3cnk" Name="Data Source=tcp:purchase-request-db.database.windows.net,1433;Initial Catalog=Prs;User Id=PrsAdmin@purchase-request-db.database.windows.net;Password=Il0v3cnk;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="prsnet.Models.PrsDbContext, prsnet" MigrationConfiguration="prsnet.Migrations.Configuration, prsnet" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="PrsDb-Web.config Connection String">
      <ParameterValue>Data Source=tcp:purchase-request-db.database.windows.net,1433;Initial Catalog=Prs;User Id=PrsAdmin@purchase-request-db.database.windows.net;Password=Il0v3cnk;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>